.registrationForm{
    width: 500px;
    margin: auto;
    background-color: rgb(196, 255, 231);
    border-radius: 50px;
    border-top: 3px var(--mainPurple) solid;
    border-bottom: 2px black solid;
    padding: 50px;
}
.registrationForm button{
    display: block;
    margin: auto;
    width: 208px;
    height: 45px;
    border-radius: 8px;
    border-width: 1px;
    border: none;
    font-weight: bold;
    font-size: large;
}
.registrationForm label{
    display: inline-block;
    width: 140px;
    text-align: right;
    padding-right: 5px;
}
.registrationForm span{
    width: 180px;
    font-size: 8pt;
    color: red;
    display: none;
    padding-left: 5px;
}
.registrationForm input{
    width: 200px;
    height: 30px;
    border-width: 1px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-color: gray;
    padding-left: 5px;
}
.registrationForm input:invalid[focused="true"] ~ span{
    display: inline;
    position: absolute;
}
.registrationForm input:invalid{
    border-color: red;
}
.registrationForm input:valid{
    border-color: rgb(0, 255, 0);
}
.registrationForm textarea{
    width: 200px;
    height: 250px;
    resize: vertical;
    border-radius: 5px;
    padding-left: 5px;
}
.registrationForm textarea:invalid{
    border-color: red;
}
.registrationForm textarea:valid{
    border-color: rgb(0, 255, 0);
}